<section id="sedes">
    <h2 class="title reveal-item" appScrollReveal>Nuestras Sedes</h2>
    <div class="main-container">
        <div class="sede-container">
            <h3 class="reveal-item" appScrollReveal>Sede Los Olivos</h3>
            <div class="sede-info reveal-item" appScrollReveal>
                <img src="./place-marker-svgrepo-com.svg" alt="Ubicación de EduKids" class="icono">
                <p>I.E. 2007 Rosa de Las Américas <br>
                (A la espalda del Mercado Productores)</p>
            </div>
            <div class="sede-info">
                <img src="./clock-nine-thirty-svgrepo-com.svg" alt="Horario de EduKids" class="icono">
                <p>Sábados de 8:30 a.m. a 5:30 p.m.</p>
            </div>
            <div class="sede-info">
                <img src="./telephone-svgrepo-com.svg" alt="Teléfono de EduKids" class="icono">
                <p>+51 975 288 784</p>
            </div>
                <a href="https://maps.app.goo.gl/NkkykS2RXeNUed1g9" target="_blank">
                    <button class="ver-mapa">
                        Ver en Google Maps
                    </button>
                </a>
        </div>
        <div class="sede-container">
            <h3 class="reveal-item" appScrollReveal>Sede San Martín de Porres</h3>
            <div class="sede-info reveal-item" appScrollReveal>
                <img src="./place-marker-svgrepo-com.svg" alt="Ubicación de EduKids" class="icono">
                <p>I.E. 2003 Libertador José de San Martin<br>
                (A 3 cuadras del Parque Zonal Mayta Capac)</p>
            </div>
            <div class="sede-info">
                <img src="./clock-nine-thirty-svgrepo-com.svg" alt="Horario de EduKids" class="icono">
                <p>Sábados de 8:30 a.m. a 5:30 p.m.</p>
            </div>
            <div class="sede-info">
                <img src="./telephone-svgrepo-com.svg" alt="Teléfono de EduKids" class="icono">
                <p>+51 975 288 784</p>
            </div>
            <a href="https://maps.app.goo.gl/8kh6NCWPcXUj5LAU6" target="_blank">
                <button class="ver-mapa">
                    Ver en Google Maps
                </button>
            </a>
        </div>
    </div>

</section>